@media only screen and (max-width: 960px) {
  .heading {
    text-align: center;
  }
}

.section-title {
  text-align: center;
  color: #494949;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

ul {
  padding-left: 20px;
  margin-bottom: 16px;  
}
li {
  margin: 0 0 0.5em;
}
