@media only screen and (max-width: 960px) {
  .heading {
    text-align: center;
  }
}

.section-title {
  text-align: center;
  color: #494949;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
  font-weight: 500;
}